#AutoSpy {
    .addForm {
        input {
            width: 100%;
        }

        td {
            text-align: center;
        }
		
		span {
            height: 26px;
            line-height: 26px;
            padding: 0 10px;
        }
    }	
    .entry-name {
        text-align: left;
        padding: 0 10px;
    }
    .dataDummies {
        width: 120px;
        
        .custom-select-handler {
            text-align: left;
        }
    }
    .dataUnit {
        width: 120px;
        
        .custom-select-handler {
            text-align: left;
        }
    }
    .dataReplacement {
        width: 120px;
        
        .custom-select-handler {
            text-align: left;
        }
    }
    .dataBuilding {
        width: 150px;
        
        .custom-select-handler {
            text-align: left;
        }
    }     
}
