<div class="win-content message-list-wrapper searchable-list ng-scope">
    <header class="win-head">
        <h2><#= locale("spymaster", "title") #> <span class="small">v<#= version #></span></h2>
        <ul class="list-btn">
            <li><a href="#" class="twOverflow-close size-34x34 btn-red icon-26x26-close"></a></li>
        </ul>
    </header>

    <div class="tabs tabs-bg">
        <div class="tabs-three-col">
            <div class="tab" tab="spy">
                <div class="tab-inner">
                    <div><a href="#" class="btn-icon btn-orange"><#= locale("spymaster", "spy") #></a></div>
                </div>
            </div>
			
            <div class="tab" tab="recruit">
                <div class="tab-inner">
                    <div><a href="#" class="btn-icon btn-orange"><#= locale("spymaster", "recruit") #></a></div>
                </div>
            </div>
			
            <div class="tab" tab="countermeasures">
                <div class="tab-inner">
                    <div><a href="#" class="btn-icon btn-orange"><#= locale("spymaster", "countermeasures") #></a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="win-main">
        
        <!-- spy -->

        <div class="box-paper footer has-footer-upper twOverflow-content-spy"><p>ID gracza oraz ID wioski znajdziesz na <a href="http://www.tw2-tools.com/" target="_blank"><#= locale("faker", "link") #></a> oraz w minimapie.</p>
		
            <h5 class="twx-section"><#= locale("spymaster", "spyU") #></h5>

            <form class="addForm">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col width="20%">
                        <col>
                        <col width="17%">
                        <col width="18%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="spyU" value="" autocomplete="off" placeholder="<#= locale("spymaster", "entry/vid") #>">
                            </td>
                            <td class="item-name"><#= locale("spymaster", "spyU.text") #></td>
                            <td class="item-send"><span class="btn btn-orange addSelected" tooltip="<#= locale("spymaster", "sendingU") #>"><#= locale("spymaster", "send") #></span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
			
            <h5 class="twx-section"><#= locale("spymaster", "spyB") #></h5>
            <form class="addForm">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col width="20%">
                        <col>
                        <col width="17%">
                        <col width="18%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="spyB" value="" autocomplete="off" placeholder="<#= locale("spymaster", "entry/vid") #>">
                            </td>
                            <td class="item-name"><#= locale("spymaster", "spyB.text") #></td>
                            <td class="item-send1"><span class="btn btn-orange addSelected" tooltip="<#= locale("spymaster", "sendingB") #>"><#= locale("spymaster", "send") #></span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
			
			
            <h5 class="twx-section"><#= locale("spymaster", "spyA") #></h5>
            <form class="addForm">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col width="20%">
                        <col>
                        <col width="17%">
                        <col width="18%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="spyA" value="" autocomplete="off" placeholder="<#= locale("spymaster", "entry/vid") #>">
                            </td>
                            <td class="item-name"><#= locale("spymaster", "spyA.text") #></td>
                            <td class="item-send3"><span class="btn btn-orange addSelected" tooltip="<#= locale("spymaster", "sendingA") #>"><#= locale("spymaster", "send") #></span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
			
            <h5 class="twx-section"><#= locale("spymaster", "sabotage") #></h5>
            <form class="addForm">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col width="20%">
                        <col>
                        <col width="17%">
                        <col width="18%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="sabotage" value="" autocomplete="off" placeholder="<#= locale("spymaster", "entry/vid") #>">
                            </td>
                            <td class="item-name"><#= locale("spymaster", "sabotage.text") #></td>
                            <td class="item-send2"><span class="btn btn-orange addSelected" tooltip="<#= locale("spymaster", "sendingS") #>"><#= locale("spymaster", "sabote") #></span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
			
            <h5 class="twx-section"><#= locale("spymaster", "spyP") #></h5>
            <form class="addForm">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col width="20%">
                        <col>
                        <col width="17%">
                        <col width="18%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="spyP" value="" autocomplete="off" placeholder="<#= locale("spymaster", "entry/id") #>">
                            </td>
                            <td class="item-name"><#= locale("spymaster", "spyP.text") #></td>
                            <td class="item-send4"><span class="btn btn-orange addSelected" tooltip="<#= locale("spymaster", "sendingP") #>"><#= locale("spymaster", "send") #></span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>

        <!-- recruit -->

        <div class="box-paper footer has-footer-upper twOverflow-content-recruit">
            <h5 class="twx-section"><#= locale("spymaster", "recruiting") #></h5>

            <form class="addForm">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
					    <col width="50%">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="item-name"><#= locale("spymaster", "recruit.text") #></td>
                            <td class="item-recruit"><span class="btn btn-orange addSelected" tooltip="<#= locale("spymaster", "recruit.tip") #>"><#= locale("spymaster", "recruit.btn") #></span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>

        <!-- countermeasures -->

        <div class="box-paper footer has-footer-upper twOverflow-content-countermeasures">		
            <h5 class="twx-section"><#= locale("spymaster", "camouflage") #></h5>

            <form class="addForm">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
					    <col width="25%">
					    <col width="17%">
					    <col>
                        <col width="18%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataBuilding" class="dataBuilding" id="building">
                                        <option value="headquarter"><#= locale("common", "headquarter") #></option>
                                        <option value="timber_camp"><#= locale("common", "timber_camp") #></option>
                                        <option value="clay_pit"><#= locale("common", "clay_pit") #></option>
                                        <option value="iron_mine"><#= locale("common", "iron_mine") #></option>
                                        <option value="farm"><#= locale("common", "farm") #></option>
                                        <option value="warehouse"><#= locale("common", "warehouse") #></option>
                                        <option value="church"><#= locale("common", "church") #></option>
                                        <option value="chapel"><#= locale("common", "chapel") #></option>
                                        <option value="rally_point"><#= locale("common", "rally_point") #></option>
                                        <option value="barracks"><#= locale("common", "barracks") #></option>
                                        <option value="statue"><#= locale("common", "statue") #></option>
                                        <option value="hospital"><#= locale("common", "hospital") #></option>
                                        <option value="wall"><#= locale("common", "wall") #></option>
                                        <option value="market"><#= locale("common", "market") #></option>
                                        <option value="tavern"><#= locale("common", "tavern") #></option>
                                        <option value="academy"><#= locale("common", "academy") #></option>
                                        <option value="preceptory"><#= locale("common", "preceptory") #></option>
                                    </select>
                                </span>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="level" value="" autocomplete="off" placeholder="<#= locale("spymaster", "entry/level") #>">
                            </td>
                            <td class="item-name"><#= locale("spymaster", "camouflage.text") #></td>
                            <td class="item-camouflage"><span class="btn btn-orange addSelected" tooltip="<#= locale("spymaster", "camouflage.tip") #>"><#= locale("spymaster", "camouflage.btn") #></span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <h5 class="twx-section"><#= locale("spymaster", "switch") #></h5>

            <form class="addForm">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
					    <col width="20%">
					    <col width="20%">
					    <col>
                        <col width="18%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataUnit" class="dataUnit" id="unit">
                                        <option value="spear"><#= locale("common", "spear") #></option>
                                        <option value="sword"><#= locale("common", "sword") #></option>
                                        <option value="axe"><#= locale("common", "axe") #></option>
                                        <option value="archer"><#= locale("common", "archer") #></option>
                                        <option value="light_cavalry"><#= locale("spymaster", "light_cavalry") #></option>
                                        <option value="mounted_archer"><#= locale("spymaster", "mounted_archer") #></option>
                                        <option value="heavy_cavalry"><#= locale("spymaster", "heavy_cavalry") #></option>
                                        <option value="ram"><#= locale("common", "ram") #></option>
                                        <option value="catapult"><#= locale("common", "catapult") #></option>
                                        <option value="trebuchet"><#= locale("common", "trebuchet") #></option>
                                        <option value="doppelsoldner"><#= locale("common", "doppelsoldner") #></option>
                                        <option value="snob"><#= locale("common", "snob") #></option>
                                        <option value="knight"><#= locale("common", "knight") #></option>
                                    </select>
                                </span>
                            </td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataReplacement" class="dataReplacement" id="replacement">
                                        <option value="spear"><#= locale("common", "spear") #></option>
                                        <option value="sword"><#= locale("common", "sword") #></option>
                                        <option value="axe"><#= locale("common", "axe") #></option>
                                        <option value="archer"><#= locale("common", "archer") #></option>
                                        <option value="light_cavalry"><#= locale("spymaster", "light_cavalry") #></option>
                                        <option value="mounted_archer"><#= locale("spymaster", "mounted_archer") #></option>
                                        <option value="heavy_cavalry"><#= locale("spymaster", "heavy_cavalry") #></option>
                                        <option value="ram"><#= locale("common", "ram") #></option>
                                        <option value="catapult"><#= locale("common", "catapult") #></option>
                                        <option value="trebuchet"><#= locale("common", "trebuchet") #></option>
                                        <option value="doppelsoldner"><#= locale("common", "doppelsoldner") #></option>
                                        <option value="snob"><#= locale("common", "snob") #></option>
                                        <option value="knight"><#= locale("common", "knight") #></option>
                                    </select>
                                </span>
                            </td>
                            <td class="item-name"><#= locale("spymaster", "switch.text") #></td>
                            <td class="item-switch"><span class="btn btn-orange addSelected" tooltip="<#= locale("spymaster", "switch.tip") #>"><#= locale("spymaster", "switch.btn") #></span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <h5 class="twx-section"><#= locale("spymaster", "dummies") #></h5>

            <form class="addForm">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
					    <col width="20%">
					    <col>
                        <col width="18%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataDummies" class="dataDummies" id="unitD">
                                        <option value="spear"><#= locale("common", "spear") #></option>
                                        <option value="sword"><#= locale("common", "sword") #></option>
                                        <option value="axe"><#= locale("common", "axe") #></option>
                                        <option value="archer"><#= locale("common", "archer") #></option>
                                        <option value="light_cavalry"><#= locale("spymaster", "light_cavalry") #></option>
                                        <option value="mounted_archer"><#= locale("spymaster", "mounted_archer") #></option>
                                        <option value="heavy_cavalry"><#= locale("spymaster", "heavy_cavalry") #></option>
                                        <option value="ram"><#= locale("common", "ram") #></option>
                                        <option value="catapult"><#= locale("common", "catapult") #></option>
                                        <option value="trebuchet"><#= locale("common", "trebuchet") #></option>
                                        <option value="doppelsoldner"><#= locale("common", "doppelsoldner") #></option>
                                        <option value="snob"><#= locale("common", "snob") #></option>
                                        <option value="knight"><#= locale("common", "knight") #></option>
                                    </select>
                                </span>
                            </td>
                            <td class="item-name"><#= locale("spymaster", "dummies.text") #></td>
                            <td class="item-dummies"><span class="btn btn-orange addSelected" tooltip="<#= locale("spymaster", "dummies.tip") #>"><#= locale("spymaster", "dummies.btn") #></span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <h5 class="twx-section"><#= locale("spymaster", "exchange") #></h5>

            <form class="addForm">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
					    <col>
                        <col width="18%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="item-name"><#= locale("spymaster", "exchange.text") #></td>
                            <td class="item-exchange"><span class="btn btn-orange addSelected" tooltip="<#= locale("spymaster", "exchange.tip") #>"><#= locale("spymaster", "exchange.btn") #></span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
